.flex-container{
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
  background-color: rgb(190, 225, 228);
}
section input{
  min-width: 300px;
  display: block;
  margin: 20px;
  padding: 15px 5px;
  font-size: 18px;
  font-weight: 200;
  border-width: 0 0 2px 0;
  border-color: #6fabdb;
  outline: none;
  transition: border-color 0.2s;
  text-transform: hidden;
}
 section input:focus{
  border-color: #555;
 }
 section .submit-btn{
  padding: 12px 5px;
border-width: 0;
font-size: 18px;
font-weight: 400;
background-color: rgb(76, 178, 238);
color: whitesmoke;
outline: none;
border-radius: 12px;
transition: background-color 0.2s;
 }
 section .submit-btn:hover{
  background-color: rgb(9, 101, 155);
 }
.password{
  -webkit-text-security: circle;
}


